<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor02">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('homepage')}}">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('hellopage')}}">Hello</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('ad_index')}}">listes</a>
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" href="{{ path('new_ad')}}">insertion</a>
		      </li>
			  </li>
		    	<li class="nav-item">
		        <a class="nav-link" href="{{ path('threeLast')}}">3 derniers</a>
		      </li>
			  <li class="nav-item">
		        <a class="nav-link" href="{{ path('uploadFile')}}">upload File</a>
		      </li>
			  <li class="nav-item">
		        <a class="nav-link" href="{{ path('showFile')}}">show File</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="text" placeholder="Search">
		      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
        {% block body %}{% endblock %}

        
        {% block javascripts %}{% endblock %}
    </body>
</html>
