{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-hover table-warning">
			<tr>
				<th>nom</th>
				<th>prenom</th>
				<th>mail</th>
				<th>password</th>
				<th>action</th>
			</tr>
			{% for pers in personne%}
			<tr>
				<td>{{ pers.nom}}</td>
				<td>{{ pers.prenom}}</td>
				<td>{{ pers.mail}}</td>
				<td>{{ pers.password}}</td>
				<td>
					<button class="btn btn-info"><a href="{{path('get_id', {'id':pers.id})}}">voir</a></button>
					<button class="btn btn-danger"><a href="{{path('delete_id', {'id':pers.id})}}">delete</a></button>
					<button class="btn btn-seccess"><a href="{{path('edit_id', {'id':pers.id})}}">edit</a></button>
				</td>
			</tr>
			{% endfor %}
		</table>

	</div>
	<div class="col-md-2"></div>
</div>	
{% endblock %}
